.navbar{
    padding-left: 10%;
    padding-right: 10%;
}

.nav-link{
    padding: 0px;
}

.fa-chevron-circle-down{
    color: white;
}

a:hover{
    color: red;
}

@media (min-width: 992px) {
    #homeLink, #signInLink, #tricksLink{
        border-right: 1px solid white;
        margin: 0px;
    }
}
.dropdown-menu{
    background-color: transparent;
    border-color: transparent;
}

.dropdown-menu a{
    color: white;
}

.dropdown-menu a:hover{
    background-color: transparent;
    color: red;
}

button:active, button:focus{
    outline: 0;
}
img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid white;
}
.fa-exclamation-circle{
    color: red;
    position: absolute;
}
footer{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #DFE2E5;
    margin-top: 100px;
}
footer h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
footer i{
    margin: 10px;
    color: #007bff;
}