.container{
    text-align: center;
    padding: 20px;
    color: white;
}
.fa-users{
    color: red;
}
.fa-toggle-on, .fa-toggle-off, .fa-trash-alt{
    color: white;
}
#errors{
    margin-top: 150px;
}
.table{
    margin-bottom: 150px;
}
.table td, .table th {
    vertical-align: middle;
}
.modal h4{
    color: black;
}
td button{
    background-color: transparent;
    border-color: transparent;
    outline: none;
}
td button:focus{
    outline: none;
}
.alert-success{
    position: unset;
}
@media (min-width: 1200px) {
    .table {
        position: absolute;
        width: 56%;
        right: 22%;
    }
}
@media (min-width: 1700px) {
    .table {
        position: absolute;
        width: 70%;
        right: 15%;
    }
}
@media (max-width: 1200px){
    #errors{
        margin-top: 200px;
    }
}