body{
    background-color: whitesmoke;
    padding-bottom: 150px;
}
h2{
    position: absolute;
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}
span{
    margin-left: 30px;
}
p{
    margin-left: 60px;
}

img{
    width: 100%;
    height: auto;
    background-size: cover;
    margin-bottom: 30px;
}