body{
    background-color: #D6DCE1;
}
h1{
    position: absolute;
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}
p{
    text-align: center;
    margin-bottom: 300px;
}

img{
    width: 100%;
    height: auto;
    background-size: cover;
}